* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes loadImage {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.85;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	/* background: url('https://dcdn.dstn.to/banners/383187323963047936'); */
	padding: 8px;
	min-height: 100vh;
	background-color: var(--dominant-color);
}

.sidebar {
	position: absolute;
	width: 420px;
	height: calc(100% - 16px);
	background-color: var(--dominant-color, gray);
	margin: 8px 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;
	transition: background 0.15s ease;
	box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.2705882353);
}

aside {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 16px;
}

aside > *:not(.bk) {
	position: relative;
	z-index: 1;
}

aside > img {
	opacity: 0;
	border-radius: 8px;
	animation: loadImage 150ms ease 20ms 1 forwards;
	box-shadow: rgba(0, 0, 0, 0.2705882353) 0 9px 20px 0;
}

aside > .infos h2 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	white-space: nowrap;
}

aside > .infos p {
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	white-space: nowrap;
}

img {
	width: 100%;
}

.container {
	filter: saturate(2) brightness(0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	overflow: hidden;
	height: 100%;
}

.color {
	right: 0;
	top: 0;
	z-index: 10;
}

.back,
.back-center,
.color {
	position: absolute;
	width: 200%;
	animation: rotate 35s linear infinite;
	filter: blur(40px);
	border-radius: 100em;
}

.back {
	left: 0;
	bottom: 0;
	z-index: 1;
	animation-direction: reverse;
}

.back-center {
	z-index: 0;
	width: 300%;
	right: -50%;
	top: -20%;
	animation-direction: reverse;
}

h3 {
	display: flex;
	align-items: center;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	height: 32px;
}
