@use "variables" as v;
@use "mixins" as m;
@use "keyframes";

.app-container {
	@include m.flex(column, center);
	background-color: var(--dominant-color);
}

.spotify-track {
	position: fixed;
	width: 420px;
	height: calc(100% - var(--space-xl));
	background-color: transparent;
	margin-block: var(--space-sm);
	border-radius: var(--radius-md);
	overflow: hidden;
	transition: background var(--transition-fast);
	box-shadow: 0 0 25px 4px var(--shadow-color);

	&__container {
		@include m.flex(column, $align: normal, $gap: 1rem);
		padding: var(--space-md);

		& > *:not(.spotify-track__background) {
			position: relative;
			z-index: 1;
		}
	}

	&__heading {
		@include m.flex($gap: var(--space-xs));
		color: var(--text-normal);
		font: 700 1rem/32px "Nunito", sans-serif;

		button {
			font: inherit;
			font-weight: 900;
			background-color: rgba(255, 255, 255, 0.08);
			padding-inline: var(--space-xs);
			border-radius: var(--radius-sm);
			color: inherit;

			&:hover {
				background-color: rgba(255, 255, 255, 0.16);
				text-decoration: underline;
			}
		}
	}

	&__cover {
		opacity: 0;
		border-radius: var(--radius-md);
		animation: coverLoad 150ms ease 20ms 1 forwards;
		box-shadow: 0 9px 20px 0 var(--shadow-color);
	}

	&__info {
		color: var(--text-normal);
		font: 400 1rem/1 v.$font-main;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;

		* {
			overflow: inherit;
			text-overflow: ellipsis;
		}
	}

	&__title {
		font: 700 1.5rem/2 v.$font-main;
	}

	&__artist {
		color: var(--text-muted);
		line-height: 1.25;
	}

	&__background {
		&__container {
			filter: saturate(2) brightness(0.7);
			@include m.absolute-fill;
			pointer-events: none;
			overflow: hidden;

			&::before {
				content: "";
				@include m.absolute-fill;
				pointer-events: none;
				background-color: var(
					--dominant-color,
					var(--default-background)
				);
				z-index: 3;
				opacity: 50%;
			}
		}

		&__components {
			position: absolute;
			width: 200%;
			max-width: unset;
			animation: rotation 35s linear infinite;
			filter: blur(40px);
			border-radius: var(--radius-round);

			&--top {
				right: 0;
				top: 0;
				z-index: 2;
			}

			&--middle {
				left: 0;
				bottom: 0;
				z-index: 1;
				animation-direction: reverse;
			}

			&--bottom {
				z-index: 0;
				width: 300%;
				right: -50%;
				top: -20%;
				animation-direction: reverse;
			}
		}
	}
}
