@import 'variables', 'keyframes', 'mixins';

body {
	@include flex(column, nowrap, center);
	background-color: var(--dominant-color);
}

#sidebar-container {
	position: fixed;
	width: 420px;
	height: calc(100% - 2.5rem);
	// background-color: var(--dominant-color, #ccc);
	background-color: transparent;
	margin-block: 0.5rem;
	border-radius: 0.66rem;
	overflow: hidden;
	transition: background 150ms ease;
	box-shadow: 0 0 25px 4px $shadow-color;

	aside {
		@include flex(column, nowrap, $r-gap: 1rem);
		padding: 1rem;

		& > *:not(#background-container) {
			position: relative;
			z-index: 1;
		}

		#album-art {
			opacity: 0;
			border-radius: 0.5rem;
			animation: coverLoad 150ms ease 20ms 1 forwards;
			box-shadow: 0 9px 20px 0 $shadow-color;
		}

		#track-info {
			color: $color-primary;
			font: 400 1rem/1 'Poppins', sans-serif;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;

			& > * {
				overflow: inherit;
				text-overflow: ellipsis;
			}

			h2 {
				font-size: 1.5rem;
				line-height: 2rem;
				font-weight: 700;
			}

			p {
				color: $color-muted;
			}
		}

		#background-container > div > div {
			filter: saturate(2) brightness(0.7);
			position: absolute;
			inset: 0;
			pointer-events: none;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				pointer-events: none;
				inset: inherit;
				background-color: var(--dominant-color);
				z-index: 3;
				opacity: 50%;
			}

			.backgroundEffectImages {
				position: absolute;
				width: 200%;
				max-width: unset;
				animation: rotation 35s linear infinite;
				filter: blur(40px);
				border-radius: $radiusRound;

				&#foreground {
					right: 0;
					top: 0;
					z-index: 2;
				}

				&#middle_ground {
					left: 0;
					bottom: 0;
					z-index: 1;
					animation-direction: reverse;
				}

				&#background {
					z-index: 0;
					width: 300%;
					right: -50%;
					top: -20%;
					animation-direction: reverse;
				}
			}
		}
	}

	h3 {
		@include flex($align: center);
		color: $color-primary;
		font: 700 1rem/1 'Nunito', sans-serif;
		height: 32px;
	}
}
